<main>
  <header>
    <h1>Focus Tracker</h1>

    <button (click)="showTaskForm = !showTaskForm">+ Nova tarefa</button>
  </header>

  @if (showTaskForm) {
  <section class="task-form">

    <select [(ngModel)]="taskType">
      <option value="faculdade">🎓 Faculdade</option>
      <option value="pessoal">💻 Projeto / Estudo próprio</option>
    </select>

    <input
      type="text"
      placeholder="Nome da tarefa"
      [(ngModel)]="taskTitle"
    />

    @if (taskType === 'faculdade') {
    <select [(ngModel)]="activityTag">
      <option value="">Selecione a atividade</option>
      <option value="APOL">APOL</option>
      <option value="PROVA">PROVA</option>
      <option value="Assistir Aula">Assistir Aula</option>
      <option value="Trabalho Prático">Trabalho Prático</option>
    </select>
    }

    <button (click)="createTask()">
      Criar tarefa
    </button>

  </section>
  }

  <p>Total de tarefas: {{ tasks.length }}</p>

  <section class="task-list">

    @for (task of tasks; track task.id) {

    <article class="task-card">

      <div>
        @if (task.type === 'faculdade') {
        <span class="task-type">🎓 Faculdade</span>
        } @else {
        <span class="task-type">💻 Projeto / Estudo</span>
        }

        <h2>{{ task.title }}</h2>

        @if (task.activity_tag) {
        <span class="tag">
              {{ task.activity_tag }}
            </span>
        }
      </div>

      <div class="task-actions">

        @if (activeTaskId === task.id) {
        <div class="timer">
          ⏱ {{ formatTime(elapsedSeconds) }}
        </div>
        } @else {
        <div class="timer">
          ⏱ 00:00:00
        </div>
        }

        @if (activeTaskId === task.id) {

        <button
          class="finish-button"
          (click)="finishTask(task.id)"
        >
          ■ Finalizar
        </button>

        }

        @else {

        <button
          class="start-button"
          (click)="startTask(task.id)"
        >
          ▶ Iniciar
        </button>

        }

      </div>

    </article>

    }

  </section>
</main>
