<main>
  <header>
    <h1>Histórico</h1>

    <a routerLink="/"
       class="history-button"
    >
      ← Voltar para Focus
    </a>
  </header>

  <section>
<div class="date-navigation">
  <button (click)="previousDay()">←</button>

  <h2>{{ formatSelectedDate() }}</h2>

  <button (click)="nextDay()">→</button>
</div>

<button
  class="add-session-button"
  (click)="showSessionForm = !showSessionForm"
>
  + Registrar tempo
</button>

<div class="daily-summary">

  <div class="summary-item">
    <span class="summary-label">Sessões</span>

    <strong class="summary-value">
      {{ filteredSessions.length }}
    </strong>
  </div>

  <div class="summary-item">
    <span class="summary-label">Tempo total</span>

    <strong class="summary-value">
      {{ formatDuration(getTotalDuration()) }}
    </strong>
  </div>

</div>

    <div class="session-list">

      @for (session of filteredSessions; track session.id) {

      <article class="session-card">

        <div>
          @if (session.task_type === 'faculdade') {
          <span>🎓 Faculdade</span>
          } @else {
          <span>💻 Projeto / Estudo</span>
          }

          <h2>{{ session.task_title }}</h2>

          @if (session.activity_tag) {
          <span>
                {{ session.activity_tag }}
              </span>
          }
        </div>

        <div class="session-info">
          <p>
            {{ formatTime(session.started_at) }}
            -
            {{ session.ended_at ? formatTime(session.ended_at) : 'Em andamento' }}
          </p>

          <strong>
            {{ formatDuration(session.duration_seconds) }}
          </strong>
        </div>

      </article>

      }

    </div>

  </section>
</main>
